.sticked {
    position: fixed !important;
    transform: translateZ(0px);
    box-sizing: border-box;
}

.sticked-stop {
    position: absolute;
    box-sizing: border-box;
    top: inherit !important;
    bottom: 0;
}