.plg-sticky {
    transform: translateZ(0);
    box-sizing: border-box;
}

.plg-sticked {
    position: fixed !important;
}

.plg-sticked-stop {
    position: absolute;
    top: inherit !important;
    bottom: 0;
}